.nav-links{
    list-style: none;
    display: flex;
    padding: 0;
}

.navigation-menu{
    display: flex;
    justify-content: center;
    background-color: black;
}

.nav-link{
    margin-left: 24px;
    margin-right: 24px;
    font-size: 24px;
    color: white;
}

.footer-links{
    list-style: none;
    display: flex;
}

.footer-menu{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
}

.footer-link{
    margin-left: 24px;
    margin-right: 24px;
    font-size: 12px;
    color: white;
}